{% extends 'base.html.twig' %}

{% block body %}

    <img class="logo_blanc" src="{{ asset('assets/images/logo_blanc.svg') }}" alt="logo" width="250" height="250">

    <div class="container mb-5">

        {% include 'notifications/notification.html.twig' %}

        {% if errors %}
            <div class="alert alert-danger alert-dismissible fade show mt-5" role="alert">
                <p class="text-danger">Vous n'avez pas rempli le formulaire correctement : </p>
                <ul>
                    {% for error in errors %}
                        <li style="list-style-type: disc;">{{ error }}</li>
                    {% endfor %}
                </ul>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <div class="card login">
            <img src="{{ asset('assets/images/logo_couleur.svg') }}" alt="logo" width="300" height="75">
            <div class="card-body mt-5">
                <p class="text-center mt-4"><b>Vous avez oublié votre de mot de passe ?</b></p>
                    <form action="{{ path('forgot-password') }}" method="POST">
                        <div class="form-group mt-5">
                            <input type="text" name="email" class="form-control" placeholder="Saissisez votre adresse email" required>
                        </div>
                        <button id="security_button" type="submit" class="btn btn-light">Confirmer</button>
                    </form>
            </div>
        </div>

        <p id="fin">Powered by Pepperbay</p>
    </div>




{% endblock %}