{% extends 'base.html.twig' %}

{% block body %}

    <img class="logo_blanc" src="{{ asset('assets/images/logo_blanc.svg') }}" alt="logo" width="250" height="250">

    <div class="container">
        <div class="card creation_compte">
            <img src="{{ asset('assets/images/logo_couleur.svg') }}" alt="logo" width="300" height="75">
            <div class="card-body mt-4">
                <h5 class="text-center mb-4"><b>CRÉATION DE COMPTE</b></h5>
                {% include 'security/layout/form.html.twig' %}
            </div>
        </div>
        <p id="fin">Powered by Pepperbay</p>
    </div>

{% endblock %}