{% extends 'base.html.twig' %}

{% block body %}

    <img class="logo_blanc" src="{{ asset('assets/images/logo_blanc.svg') }}" alt="logo" width="250" height="250">

    <div class="card login">
        <img src="{{ asset('assets/images/logo_couleur.svg') }}" alt="logo" width="300" height="75">
        <div class="card-body">
            <p class="text-center mt-5"><b>Merci pour votre inscription</b></p>
            <p class="text-center mt-5">Un email de confirmation a été envoyé</br>à votre adresse email</p>
        </div>
        <p id="fin">Powered by Pepperbay</p>
    </div>

{% endblock %}