{% extends 'base.html.twig' %}

{% block body %}

    <img class="logo_blanc" src="{{ asset('assets/images/logo_blanc.svg') }}" alt="logo" width="250" height="250">

    {% include 'notifications/notification.html.twig' %}

    <div class="index">

        <span id="home_title">CHALLENGEZ <span>VOS COLLABORATEURS</span></span>

        <a class="btn btn-light home_link" href="{{ path('security_login') }}" role="button">Connexion</a>
        <a class="btn btn-light home_link" href="{{ path('security_registration') }}" role="button">Inscription</a>

        <p id="fin">Powered by Pepperbay</p>

    </div>


{% endblock %}