{% extends 'base.html.twig' %}

{% block body %}

    {% include 'admin/layout/navbar.html.twig' %}

    <div class="miscellaneous mt-5 ml-5">
        <h3 class="text-viaautomobile mb-5"><b>OPÉRATIONS DIVERSES</b></h3>
        <form id="myform" action="" method="POST">
            <div class="form-group">
                <label for="">Mettre les mandats à 0</label>
                <input type="text" class="form-control" name="mandat">
                <small id="" class="form-text text-muted">Cette action sera irréversible</small>
            </div>
            <div class="form-group">
                <label for="">Mettre les ventes à 0</label>
                <input type="text" class="form-control" name="vente">
                <small id="" class="form-text text-muted">Cette action sera irréversible</small>
            </div>
            <div class="form-group">
                <label for="">Ajouter un nouvel administrateur</label>
                <select name="name" class="form-control">
                    <option id="periode" selected="selected"><span>Collaborateurs</span></option>
                    {% for user in users %}
                        {% if 'ROLE_ADMIN' not in user.roles %}
                            <option>{{ user.prenom }} {{ user.nom }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <button id="js-add-divers" type="submit" class="btn btn-light light-button mb-2">Enregistrer</button>
        </form>
    </div>
{% endblock %}