/* Général */

html, body
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    background: url('../images/fond.png') no-repeat center fixed;
    text-decoration: none;
    list-style-type: none;
    -webkit-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

.logo_blanc
{
    right: 0;
    top: 0;
    position: fixed;
    padding-bottom: 170px;
}

#home_title
{
    color: white;
    font-size: 5em;
    font-weight: bolder;
    display: block;
}

#home_title > span
{
    color: white;
    font-weight: normal;
    display: block;
    padding-bottom: 20px;
}

#fin
{
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 12px;
    padding-right: 20px;
    color: white;
}

.index
{
    position: absolute;
    width: 100%;
    height: 25%;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    padding-left: 40px;
}

.home_link
{
    background: transparent;
    border-radius: 24px;
    padding-right: 40px;
    border-color: #fff;
    padding-left: 40px;
    margin-left: 20px;
    color: white;
}

a
{
    color: black;
    text-decoration: none;
}

a:hover
{
    color: black;
}


/* Page de login et creation de compte */

.mypopover > li
{
    list-style-type: disc;
}

.form-control
{
    margin-left: 20px;
    width: 90%;
    padding: 7px;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #531B51;
    background: transparent;
    margin-bottom: 10px;
    font-size: 15px;
}

.form-error-message
{
    color: red;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    border-bottom: 1px solid #531B51;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(255,255,255);
}

.security_card
{
    position: absolute;
    width: 25%;
    height: 45%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 15px;
}

.card > img, .creation_compte > img
{
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
}

.creation_compte
{
    position: absolute;
    width: 30%;
    height: 750px;
    padding-bottom: 40px;
    top: 0;
    font-size: 12px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 15px;
}

#security_button
{
    position: absolute;
    margin: auto;
    border: 0;
    left: 0;
    right: 0;
    bottom: 30px;
    border-radius: 24px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #9D1458;
    margin-top: 20px;
    color: white;
}

/* Page d'accueil */

.accueil
{
    position: absolute;
    width: 35%;
    height: 40%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 15px;
}

.accueil > .card-body > span
{
    color: #531B51;
    display: block;
    margin-top: 40px;
}

.btn-secondary
{
    background-color: #754974;
    border-radius: 12px;
}

.btn-secondary:hover
{
    transition: 0.5s;
    background-color: #531B51;
    border-radius: 12px;

}

/* Dashboard */

li
{
    list-style-type: none;
}

a
{
    text-decoration: none;
}

.logo_gris
{
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 15px;
}

.text-viaautomobile
{
    color: #531B51;
}

.fs-1
{
    font-size: 0.938em;
}

.fs-2
{
    font-size: 2em;
}

.fs-7
{
    font-size: 7em;
}

.logo_app
{
    padding-left: 35px;
    padding-top: 20px;
}

.row-dashboard
{
    text-align: center;
}

.dashboard-col
{
    zoom:125%;
    margin-top: 70px;
    margin-right: 50px;
}

.dashboard-button, .dashboard-button:hover
{
    background-color: #531B51;
    border-radius: 12px;
    color: white;
    margin-top: 10px;
}

.dashboard-hr
{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    margin-left: 710px;
    height: 100%;
    width: 3px;
    background:  #531B51;
}

.button-vente
{
    width: 75px;
    height: 75px;
    background:#A73C97;
    font:bold 55px Montserrat;
    border-radius:50%;
    border:none;
    color:#fff;
}

.dont
{
    color: #A73C97;
    font-size: 30px;
}

.popup-dashboard, .popup-dashboard:hover
{
    background-color: #9D1458;
    color: white;
}

.modal-content
{
    border-radius: 20px;
}

#vente > .modal-dialog
{
    min-width: 700px;
}

/* Les Challenges */

.screen_challenge
{
    position: absolute;
    bottom:0;
    left:0;
    top: 0;
    right:0;
    margin: auto;
    margin-left: 100px;
    padding-top: 20px;
    zoom: 125%;
}

.image_challenge
{
    border-radius: 10px;
}

.periode
{
    color: #808080;
    font-size: 12px;
    display: block;
}

.description_challenge
{
    color: black;
    font-size: 15px;
    display: block;
}

.podium > div > span
{
    color: black;
    font-size: 13px;
    display: block;
    padding-top: 5px;
}

/* Historique */

.historique-container
{
    margin-top: 25px;
}

.historique-select, .historique-select:hover
{
    background-color: #531B51;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
}

tr, td
{
    color: #531B51;
    text-align: center;
}

td > i, td > a > i
{
    color: black;
}

.tables
{
    zoom: 125%;
    padding-right: 100px;
}

#ma_table_Ventes, #ma_table_Mandats
{
    display: none;
}

/* Edit compte */

.card > h4
{
    padding-top: 20px;
    padding-left: 20px;
}

.edit-card
{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 15px;
    width: 1000px;
}

.edit-card-body
{
    width: 1000px;
}









