/* Général */

html, body
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    background: url('../images/fond.png') no-repeat center fixed;
    text-decoration: none;
    list-style-type: none;
    -webkit-background-size: cover;
    background-size: cover;
}

.logo_blanc
{
    right: 0;
    top: 0;
    position: fixed;
    padding-bottom: 170px;
}

#home_title
{
    color: white;
    font-size: 5em;
    font-weight: bolder;
    display: block;
}

#home_title > span
{
    color: white;
    font-weight: normal;
    display: block;
    padding-bottom: 20px;
}

#fin
{
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 12px;
    padding-right: 20px;
    color: white;
}

.index
{
    position: absolute;
    width: 100%;
    height: 25%;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    padding-left: 40px;
}

.home_link
{
    background: transparent;
    border-radius: 24px;
    padding-right: 40px;
    border-color: #fff;
    padding-left: 40px;
    margin-left: 20px;
    color: white;
}

a
{
    color: black;
    text-decoration: none;
}

a:hover
{
    color: black;
}


/* Page de login et creation de compte */

.form-control
{
    margin-left: 20px;
    width: 90%;
    padding: 7px;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #531B51;
    background: transparent;
    margin-bottom: 10px;
    font-size: 15px;
}

.form-error-message
{
    color: red;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    border-bottom: 1px solid #531B51;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(255,255,255);
}

.login
{
    position: absolute;
    width: 25%;
    height: 45%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 15px;
}

.card > img, .creation_compte > img
{
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
}

.creation_compte
{
    position: absolute;
    width: 30%;
    height: 750px;
    padding-bottom: 40px;
    top: 0;
    font-size: 12px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 15px;
}

#security_button
{
    position: absolute;
    margin: auto;
    border: 0;
    left: 0;
    right: 0;
    bottom: 30px;
    border-radius: 24px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #9D1458;
    margin-top: 20px;
    color: white;
}

/* Login, Validation de compte, mot de passe oublié et le reset de mot de passe */

#validate_account, #forgotpassword, #reset
{
    position: absolute;
    width: 25%;
    height: 45%;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    border-radius: 15px;
}

/* Page d'accueil */

#card-accueil
{
    position: absolute;
    width: 35%;
    height: 40%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 15px;
}

/* Dashboard */

.menu
{
    width: 300px;
    height: 400px;
    float: left;
    position: fixed;
    z-index: 10;

}

#colonne1
{
    position: absolute;
    width: 60%;
    height: 60%;
    bottom:0;
    left:0;
    top: 0;
    right:0;
    margin: auto;
    margin-left: 100px;
    margin-bottom: 175px;
}

#colonne2
{
    position: absolute;
    width: 38%;
    height: 59.9%;
    bottom:0;
    top: 0;
    margin: auto;
    margin-left: 665px;
    margin-bottom: 180px;
}

.separation
{

    position: fixed;
    margin-left: 270px;
    height: 100%;
    width: 1px;
    background: grey;
    top: 0;
    bottom: 0;
    opacity: 0.2;
}

.separation2
{
    clear: both;
    position: absolute;
    margin-left: 625px;
    height: 450px;
    width: 3px;
    margin-top: 25px;
    background:  #531B51;
}

li
{
    list-style-type: none;
    position:relative;
    z-index:10;
}

span
{
    color: white;
}

#change
{
    color: #531B51;
    text-decoration: none;
    list-style-type: none;
}

#change:hover
{
    color: white;
    transition:all 0.10s;
    border:none;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    background: #754974;
    position:relative;
    z-index:10;
}

#semaine
{
    margin-left: 0px;
    padding-top: 50px;
    font-size: 30px;
}

#dont
{
    color: #A73C97;
    font-size: 20px;
}

#screen
{
    bottom:0;
    left:0;
    top: 0;
    right:0;
    margin: auto;
}

tr, td
{
    color: #531B51;
}

.bouton1
{
    width: 65px;
    height: 65px;
    background:#A73C97;
    font:bold 50px Montserrat;
    border-radius:50%;
    border:none;
    color:#fff;
}

.mypopover > li
{
    list-style-type: disc;
}

#vente > .modal-dialog
{
    min-width: 700px;
}





