{% if app.request.attributes.get('_route') == 'admin-challenges' %}
    <div class="container">
        {% for message in app.flashes('success') %}
            {% if message == 'Challenge crée avec succès' %}
                <script> toastr.success('Challenge crée avec succès'); </script>
            {% elseif message == 'Challenge modifié avec succès' %}
                <script> toastr.success('Challenge modifié avec succès'); </script>
            {% elseif message == 'Challenge supprimé avec succès' %}
                <script> toastr.success('Challenge supprimé avec succès'); </script>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

