{% if mandats is not empty %}
    <table id="ma_table_Mandats" class="table table-striped ml-5 mt-5">
        <thead>
            <th align="center" scope="col">Date de mandat</th>
            <th align="center" scope="col">Nombre de mandats</th>
            <th align="center" scope="col">Actions</th>
        </thead>
        <tbody>
        {% for mandat in mandats %}
            <tr align="center">
                <td align="center">{{ mandat.date | date('d/m/Y') }}</td>
                <td align="center">{{ mandat.nombre }}</td>
                {% if 'now'|date('m') != mandat.date | date('m') %}
                    <td align="center"><i class="fa fa-times"/></td>
                {% else %}
                    <td align="center">
                        <a class="btn btn-link js-delete" href="/historique-mandat/{{ mandat.id }}">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else%}
    <div class="container">
        <div class="alert alert-warning mt-5" role="alert">
            <i class="fa fa-warning"></i>&nbsp;&nbsp;Aucune donnée à afficher
        </div>
    </div>
{% endif %}